.upvote{
    background-color: green;
    color: aliceblue;
}

/* descendant selector */

.post a{
    color: purple;
    background-color: yellow;
}

nav ul li a{
    color: hotpink;
}

/* Sibling combinator */
p+h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
    color: darkblue;
}

/* Child Combinator */

div > input{
    background-color: black;
    color: white;
}

/* Attribute Selector */

input[type="text"]{
    color: #f8f061;
}

input[type="password"]{
    color: antiquewhite;
}

div[id="myId"] p{
    color: green;
}

/* Psudo class */

button:hover{
    background-color: black;
    color: white;
}

h3:hover{
    text-decoration: none;
}

button:active{
    background-color: hotpink;
    color: black;
}

p:active{
    font-weight: bold;
}

input[type="radio"]:checked + label{
    font-weight: bold;
    color: red;
}
div:nth-of-type(2){
    background-color: darkgray;
}

/* psudo element */
h1::first-letter{
    color: red;
}
p::first-line{
    color: red;
}
p::selection{
    background-color: none;
    color: greenyellow;
}